<style>
            h1{
            text-align:center;
            }
            h3{
            text-align:center;
            }
            h2{
             text-align:center;
            }
            button{
                align-items: center;
                color:rgb(171, 9, 36);
                background-color: rgb(204, 194, 187);
            }
           
         </style>